.login{
  width: 20%;
  margin: auto;
  margin-top: 8%;
  border: double grey;
  border-radius: 5px;
   box-shadow: 5px 10px;
}
.inner{
  width: 90%;
  margin: auto;
  margin-top:10%;
  margin-bottom: 10%;
}
@media only screen and (max-width: 700px) {
  .login{
    width:60%;
  }
}
